html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}



#start{
    display: flex;
    border: darkred;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

#start:hover{
    background-color: black;
}
.game-over-overlay.hidden {
    display: none;
    pointer-events: none;
}

.start-overlay.hidden {
    display: none;
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.indhold{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    height: 600px;
}

input{
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 20px;

}
.game-over-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.game-over-container{
    width: 500px;
    height: 700px;
    background: white;
    border-radius: 5px;
   align-items: center;
    display: flex;
    flex-direction: column;
}

.start-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.start-container {
    width: 500px;
    height: 700px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.start-indhold{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 400px;
    height: 600px;
}

.submit-button {
    display: flex;
    border: darkred;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.submit-button:hover {
    background-color: black;
}


#score {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2em;
    font-weight: 900;
}

#introduction {
    position: absolute;
    width: 300px;
    align-items: center;
    border-radius: 10px;
    padding: 20px 40px;
    color: darkred;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}

p{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#restart {
    display: flex;
    border: darkred;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

#perfect {
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}