
body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0e6d6;
    margin-top: 50px;
}


#container {
    width: 200px;
    height: 200px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#container:active {
    transform: scale(0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#score {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    color: dodgerblue;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkred;
}
