html,
body {
    height: 100%;
    margin: 0;
}

body {
}



#start{
    border: solid 3px black;
    display: flex;
    width: 300px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #F68B00;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;

}

#start:hover{
    background-color: #C1272D;
}
.game-over-overlay.hidden {
    display: none;
    pointer-events: none;
}

.start-overlay.hidden {
    display: none;
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1{
    color:#F68B00 ;
    font-size: 36px;
    padding-top: 40px;
}

.start-indhold {
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
   flex-shrink: 30;
    flex-direction: row;
    width: 422px;

}


.start-button{
    display: flex;
    flex-direction: column;
   height: 250px;
    width: 260px;

}
.start-button h2{

    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.start-container p{
    color: #C1272D;
}

.indhold{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    height: 600px;
}

input{
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 20px;

}
.game-over-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.game-over-container{
    width: 800px;
    height: 550px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.start-container {
    width: 422px;
    height: 580px;
    background: #292828;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-width: 3px;
    border-style: solid;
    justify-content: space-evenly;
    align-items: center;

}

#ghost{
    display: flex;
width: 122px;
}


.submit-button,
#restart {
    display: flex;
    border: black;
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    padding: 20px 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.submit-button:hover {
    background-color: darkred;
}

.submit-button:hover {
    background-color: black;
}


.score-board{
    display: flex;
    justify-content: center;
}

.score-ui{
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    font-weight: 900;
}


#introduction {
    position: absolute;
    width: 300px;
    align-items: center;
    border-radius: 10px;
    padding: 20px 40px;
    color: darkred;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}


p{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}



#perfect {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    opacity: 0;
    transition: opacity 1s;
}